[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
ipch/
*.sdf
*.suo
*.opensdf
l0_skeleton/*.user
l0_skeleton/[Dd]ebug/
l0_skeleton/[Rr]elease/
l0_skeleton/x64/
files/*/*.skel
files/*/*.[Vv]iew
files/*/*/*.skel
files/*/*/*.[Vv]iew